<!doctype html>
<style>


    .float-container1{

    }

    .float-child1{
        width: 21%;
        float: left;
        background-color: red;

    }
    .float-child2{
        width: 79%;
        float: left;
    }
</style>

<html>
<head>
    <%-include('../Partials/Homehead');%>
</head>
<body>
<header>
    <%-include('../Partials/header');%>
</header>
<div class="float-container1">
    <div class="float-child1">
        <div class="green1"><%-include('../Partials/verticalmenu');%></div>
    </div>
    <div class="float-child2">
        <div class="blue1"><%-include('../Partials/HomeScores');%></div>
    </div>
</div>

</body>
</html>