<style>
.float-container1{

}


.float-child2{
width: 100%;
float: left;
}
</style>



<html>
<head>
    <%-include('../Partials/Homehead');%>
</head>
<body>
<header>
    <%-include('../Partials/header');%>
</header>
<div class="float-container1">
    <div class="float-child2">
        <div class="blue1"><%-include('../Partials/HomeScores');%></div>
    </div>
</div>

</body>
</html>